{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">Введите новый пароль</div>
        <div class="card-body">
          {% if validlink %}
            <form method="post">
              {% csrf_token %}
              <div class="form-group row my-3 p-3">
                <label for="id_new_password1">Новый пароль</label>
                {{ form.new_password1|addclass:'form-control' }}
                <small class="form-text text-muted">
                  <ul>
                    <li>Ваш пароль должен содержать минимум 8 символов</li>
                    <li>Пароль не должен быть слишком простым</li>
                  </ul>
                </small>
              </div>
              <div class="form-group row my-3 p-3">
                <label for="id_new_password2">Подтверждение пароля</label>
                {{ form.new_password2|addclass:'form-control' }}
              </div>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">Назначить новый пароль</button>
              </div>
            </form>
          {% else %}
            <div class="alert alert-danger">
              Ссылка сброса пароля содержит ошибку или устарела.
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}